{{ define "content" }}

<section class="section hero bg-image dind-section--padding">
  <div class="bg-image__image" style="background-image: url('{{ replace .Params.heroimg "upload/" "upload/w_1665,q_auto,f_auto/" }}'); opacity: 1; background-size: cover; background-repeat: no-repeat"></div>
  <div class="container container--lg">
     <div class="flex flex--middle flex--center flex--col-2">
      <div class="hero-heading">
        <h1>{{ .Params.title }}</h1>
       </div>
     </div>
  </div>
</section>
<article class="page">
<section class="section section--wedo">
  <div class="container container--lg">
    <div class='font700 h4 intro'>{{ .Params.intro }}</div>
  {{range $i, $element := .Params.wedo}}
    <div class="flex flex--middle flex--center flex--col-2">
      <div class="cell section__media {{if (modBool $i 2)}}section__media--right {{ end }}">
        <img src="{{ replace .photo "upload/" "upload/w_800,h_533,q_auto,f_auto,c_fill/" }}" alt="{{ .photo_alt }}"/>
      </div>
      <div class="section__body cell">   
          <h2 class="section__title">{{ .heading }}</h2>
        <div class="section__copy">
          <p>{{ .text | markdownify }}</p>
        </div>  
        {{ if and (.link) ( .linktext) }} 
        <div class="section__actions btn-group">
          <a class="btn" href="{{ .link }}">{{ .linktext}}</a>
        </div> 
        {{ end }}
      </div>
    </div>
  {{ end }}
  <div class="align-center"><a class="greencta" href='{{ .Params.ctaLink}}'>
    <p class="btn">{{ .Params.ctaText}}</p>
</a></div>
  </div>
</section>




</article>

{{ end }}